/* =========================
   SIDEBAR FIXED + SCROLL
========================= */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 224px; /* lebar default SB Admin */
    z-index: 1000;

    overflow-y: auto;
    overflow-x: hidden;

    transition: all 0.3s ease;
}

/* Scroll sidebar */
.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
}


/* =========================
   TOPBAR FIXED
========================= */
.topbar {
    position: fixed;
    top: 0;
    left: 224px;
    right: 0;
    z-index: 999;
    background: #fff;
}


/* =========================
   CONTENT WRAPPER
========================= */
#content-wrapper {
    margin-left: 224px;
    transition: all 0.3s ease;
}

/* jarak dari topbar */
#content {
    margin-top: 70px;
}


/* =========================
   SIDEBAR HIDE MODE
========================= */
#wrapper.toggled .sidebar {
    width: 0;
    overflow: hidden;
}

#wrapper.toggled #content-wrapper {
    margin-left: 0;
    width: 100%;
}

#wrapper.toggled .topbar {
    left: 0;
}


#miniCalendar {
    width: 100%;
    text-align: center;
}

.calendar-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 4px;
    font-size: 13px;
}

.calendar-grid div {
    padding: 6px;
    border-radius: 6px;
}

.calendar-day {
    font-weight: bold;
    color: #6c757d;
}

.calendar-date {
    background: #f8f9fc;
}

.calendar-today {
    background: #4e73df;
    color: white;
    font-weight: bold;
}

